{% extends "common.html" %}

{% block content %}
  <div class="center">
    <h3>An app for the visualization of orchestration.</h3>
    
    <form action="{{ url_for('upload') }}" enctype="multipart/form-data" method="POST">
      <div id="configure">
        <fieldset>
          <label for="palette">Palette:</label>
          <select name="palette">
            <option selected value="monochrome">Monochrome</option>
            <option value="choir">Choir</option>
            <option value="dolan">Dolan</option>
            <option value="instrument">Instrument</option>
          </select>
          <br />
          <label for="shape_rendering">Antialias:</label>
          <select name="shape_rendering">
            <option selected value="crispEdges">No</option>
            <option value="geometricPrecision">Yes</option>
          </select>
          <br />
          <label for="show_dynamic">Show Dynamic:</label>
          <input name="show_dynamic" type="checkbox" />
          <br />
          <label class="last" for="show_register">Show Register:</label>
          <input name="show_register" type="checkbox" />
        </fieldset>
      </div>
      
      <div id="submit">
        <label class="file-upload-button" for="file-upload">Choose MusicXML File</label>
        <input id="file-upload" name="musicxml" onchange="javascript:this.form.submit()" type="file" />
      </div>
    </form>
    
    <p id="caution">
      orcheil is resource-intensive<br />
      more data = more time
    </p>
  </div>
{% endblock content %}
